.videoPlayer {
  position: relative;
  background-color: black;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moveDetectorHorizontal {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  z-index: 4000;
}

.moveDetectorVertical {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 4000;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 13%,
    rgba(0, 0, 0, 0)
  );
  z-index: 5000;
}

.controlRow0{
  text-align: right;
}

.controlRow2 {
  box-sizing: border-box;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  text-align: left;
}

.timeInfo {
  font-size: 1em;
  color: white;
  font-weight: bold;
}

.control-options{
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  display: inline-block;
  text-align: right;
  border-radius: 5px;
  min-width: 100px;
  padding: 1em;
}

.control-options h2{
  margin: 0;
  font-size: 1em;
  padding-bottom: 0.5em;
  border-bottom: .5px solid #7b7b7b;
  text-align: left;
}

.control-options ul{
  list-style: none;
  padding: 0;
  margin: 0.2em;
}

.control-options li{
  padding: 0.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
  border-radius: 5px;
  cursor: pointer;
}

.control-options li:hover{
  background-color: rgba(255,255,255,0.2);
}